body {
   font-family: Arial, Helvetica, sans-serif;
   letter-spacing: -.25px;
}

a {
   text-decoration: none!important;
   color: black!important;
}

.sticky-nav {
   position: sticky;
   top: 0;
   /* Stick the navigation bar to the top of the viewport */
   width: 100%;
   /* Ensure the navigation bar spans the full width of the viewport */
   background-color: #ffffff;
   /* Optional: Add background color */
   z-index: 1000;
   /* Optional: Specify a z-index to ensure the navigation bar appears above other content */
}

h1 {
   font-size: 3rem!important;
}


h2 {
   font-size: 2.5rem !important;
}


h3 {
   font-size: 2.75rem !important;
}

.navLabels {
   font-size: 1.25rem;
   display: flex;
   justify-content: space-evenly;
}

#navbar {


   padding-top: 1.5rem;
   padding-bottom: .5rem;
   justify-content: space-around;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
}

.bold {
   font-weight: 700;
}
/* body styling START */
#landing-section-1 {
   background: white;
   height: 48rem;
   padding: 6rem 12rem;
}
#landing-section-2 {
   background: black;
   color: white;
   height: 48rem;
   padding: 6rem 12rem;
}

#landing-section-2 p {
   padding-top: 18rem;
}
#landing-section-3 {
   background: skyblue;
   color: black;
   height: 48rem;
   padding: 6rem 12rem;
}
#landing-section-3 p {
 padding-top: 12rem;
}
#landing-section-2 h3 {
 font-size: 1.5rem!important;
 font-weight: 300;
}
/* body styling END */
#footer {
   height: 16rem;
   background-color: rgb(20, 170, 73);
   color: white;
   padding: 4rem 8rem;

}

footer h3 {
  font-size: 1.5rem!important;
}

#footer-form {
   width: 30rem;
   align-content: center;
   
}

input {
   margin: .25rem 6rem!important;
}

/* sources styling START */

#sources-section-1 {
   background-color: black;
   color: white;
   padding-bottom: 10rem;


}
#sources-section-1 h3 {
font-size: 2rem!important;


}


#sources-section-1-text {


   padding-left: 14rem;
   padding-top: 10rem;


}
#sources-preview-styles {
   padding-top: 3rem;
   justify-content: center !important;
}
.sources-preview-container {
   align-content: space-between;
   height: 56rem;


}


#studiyoPrev {
   background-image: none;
   background-size: cover;
   /* Scale the background image to cover the entire container */
   background-position: center;


}


.case-preview-text {
   width: 32rem;
   align-content: space-between 2.19rem !important;
}


.sources-preview {
   padding-top: 4.56rem;
   padding-bottom: 3.94rem !important;
   padding-left: 5.94rem !important;
   padding-left: 6.42rem !important;
   background-color: white;
   color: black !important;
   height: 24rem;
   width: 70rem !important;
   border-radius: 2.5rem !important;
   position: relative;
}
.caseCTA {
   border-radius: 40rem !important;
   padding: 1rem 2.5rem !important;


}
#studiyoCTA {
   background: skyblue;
   color: white;
   font-weight: 500;
}
.image-wrapper {

   width: 30rem;
   /* Make the image wrapper full height of the card */
   overflow: hidden !important;
   /* Clip the image within the wrapper */
   z-index: -100;
   transform: translateY(20%) !important;
   background-color: red;
}
.wrap {
   margin-top: -4.5rem !important;
   width: 40rem;
   overflow: hidden !important;
}
.clipped-image {
   /* Make the image full width of the wrapper */
  
   scale: 75%;
   /* Allow the image to maintain its aspect ratio */


   /* Position the image absolutely within the wrapper */
   object-fit: none;
   /* Maintain aspect ratio and cover the entire wrapper */

   transform: translateY(7%);
  
       /* Center the image vertically */




       /* Adjust the vertical position */
}

.source-img-prev {
   
}

#source2CTA {
   background-color:  rgb(20, 170, 73);
   color: white;
}
/* sources styling END */

#footer h4 {
   font-size: 1rem;
   margin-top: -.5rem;
}

#footer h3 {
   font-weight: 700;
   font-size: 1.75rem!important;
}

#footer h5 {
   font-weight: 500;
   font-size: 1.25rem;
}

#footer a {
   color: white!important;
}


#footer a:hover {
   color: white!important;
   text-decoration: underline!important;
}

.footer-links {
   display: flex; /* Use flexbox */
   flex-direction: row; /

}